# Dependências
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Pastas nativas geradas
/ios
/android

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db
Desktop.ini

# Variáveis de ambiente
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
*~

# Expo default example
app-example

# Cobertura de testes
coverage/

# Temporários
tmp/
temp/
